@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Bold.ttf");
  font-weight: 550; /* This should not be done */
}

:root {
  --clr-primary-700: hsl(259, 9%, 35%);
  --clr-primary-600: hsl(228, 33%, 61%);
  --clr-primary-500: hsl(260, 33%, 56%);
  --clr-primary-400: hsl(260, 64%, 72%);
  --clr-primary-300: hsl(276, 95%, 77%);
  --clr-primary-200: hsl(260, 80%, 94%);
  --clr-primary-100: hsl(260, 29%, 94%);
  --clr-secondary-400: hsl(39, 92%, 61%);
  --clr-accent-900: hsl(257, 21%, 16%);
  --clr-accent-700: hsl(0, 0%, 38%);
  --clr-accent-600: hsl(0, 0%, 45%);
  --clr-accent-500: hsl(248, 4%, 41%);
  --clr-accent-400: hsl(0, 2%, 92%);
  --clr-accent-200: hsl(0, 0%, 97%);
  --clr-accent-100: hsl(0, 0%, 100%);
  --gradiend-primary-400: linear-gradient(
    to right,
    var(--clr-primary-600),
    var(--clr-primary-300)
  );

  --fs-100: 0.9375rem;
  --fs-200: 0.875rem;
  --fs-300: 0.96875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-900: 3.375rem;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  --ff-400: "Montserrat";
}

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes */

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.txt-purple {
  color: var(--clr-primary-500);
}

.container {
  width: 75rem;
  max-width: 92.5%;
  margin-inline: auto;
}

.hidden {
  display: none;
}

.btn {
  display: block;
  border: none;
  cursor: pointer;
  padding: 1.125rem 3.375rem;
  text-transform: uppercase;
  font-weight: var(--fw-600);
  border-radius: 999px;
}

.btn-primary {
  color: hsl(0, 27%, 98%);
  background-image: var(--gradiend-primary-400);
}

.btn-secondary {
  color: var(--clr-accent-600);
  background-color: transparent;
  border: 1px solid var(--clr-primary-400);
}

.btn-tertiary {
  border: 1px solid var(--clr-primary-700);
  color: hsl(0, 27%, 98%);
  background-color: var(--clr-accent-600);
}

.btn-dashboard {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: var(--fw-600);
  color: var(--clr-accent-600);
  border-radius: 999px;
  transition: background-color 200ms ease;
  cursor: pointer;
}

.btn-primary-dashboard {
  --bg-color: var(--clr-primary-200);
}

.btn-secondary-dashboard {
  --bg-color: hsl(0, 0%, 94%);
}

.btn-dashboard:hover,
.btn-dashboard.active {
  background-color: var(--bg-color);
}

.btn-form-dashboard {
  border: none;
  padding: 1.125em 3.375em;
  font-weight: var(--fw-600);
  text-transform: uppercase;
  border-radius: 999px;
  color: var(--clr-accent-900);
  background-color: hsl(261, 100%, 94%);
  cursor: pointer;
}

.error-message {
  color: red;
  font-weight: var(--fw-600);
}

.big-text {
  font-weight: var(--fw-600);
  font-size: var(--fs-900);
}

/* General styling */

body {
  padding-top: 2rem;
  font-size: var(--fs-400);
  font-family: var(--ff-400);
  background-color: var(--clr-primary-100);
}

input {
  border: none;
  border-radius: 9999px;
  padding: 0.75rem;
  outline-color: var(--clr-accent-900);
}

/* Page header */

header.container {
  padding: 1rem;
  border-radius: 20px;
  background-color: var(--clr-accent-100);
}

header.container > * + * {
  margin-top: 2rem;
}

.header-top {
  display: flex;
  align-items: center;
}

.header-searchbar-wrapper {
  position: relative;
  margin-inline: auto;
  width: 54%;
}

.header-searchbar::placeholder {
  color: hsl(0, 0%, 73%);
}

.header-searchbar {
  width: 100%;
  padding-inline: 3rem;
  font-weight: var(--fw-600);
  color: var(--clr-accent-900);
  background-color: var(--clr-accent-200);
}

.header-searchbar-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
  width: 17.49px;
  aspect-ratio: 1 / 1;
  background-image: url(../assets/img/icons/search-icon.svg);
}

.header-session-btn {
  border: none;
  font-weight: var(--fw-600);
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  color: hsl(0, 0%, 29%);
  cursor: pointer;
}

.header-session-btn--deco {
  margin-inline: 5px;
  color: var(--clr-accent-600);
}

.page-nav-links {
  padding-left: 0px;
  margin-block: 0px;
  display: flex;
  gap: 2rem;
  width: max-content;
  margin-inline: auto;
}

.page-nav-item {
  text-transform: uppercase;
  font-weight: var(--fw-600);
  color: var(--clr-accent-600);
}

.page-nav-link {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.page-nav-link.active::after {
  content: "";
  position: absolute;
  top: calc(100% + 2px);
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--clr-primary-400);
}

/* Page section (Styles for all page sections) */

.section {
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 20px;
  background-color: var(--clr-accent-100);
}

.breadcrumbs {
  background-color: transparent;
}

/* Best boks & Best genders section */

.best-genders-section > * + *,
.best-books-section > * + * {
  margin-top: 1rem;
}

.hero-section {
  display: flex;
  justify-content: space-between;
}

.hero-section__title {
  font-size: var(--fs-900);
  font-weight: 550;
}

.hero-section__text {
  color: var(--clr-accent-900);
  font-size: 21px;
}

.hero-section__information {
  display: flex;
  gap: 2rem;
}

.hero-section > div:first-child > * + * {
  margin-top: 1.5rem;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-item > * + * {
  margin-top: 0.5rem;
}

.info-item__stat,
.info-item__title {
  font-weight: var(--fw-600);
  font-size: var(--fs-500);
}

.info-item__title {
  color: var(--clr-accent-600);
}

.hero-section__links {
  display: flex;
  align-items: start;
  gap: 1rem;
}

.hero-section__link {
  width: max-content;
  text-decoration: none;
}

/* Breadcrumbs */

.breadcrumb-list {
  padding-left: 0;
  margin-block: 0;
}

.breadcrumb-item {
  display: inline-block;
}

.breadcrumb-link {
  text-decoration: none;
  font-size: var(--fs-500);
  font-weight: var(--fw-400);
  color: var(--clr-accent-600);
}

.breadcrumb-list > * + * {
  position: relative;
  margin-left: 5vmax;
}

.breadcrumb-list > * + *::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -2rem;
  width: 12px;
  height: 20px;
  background-image: url(../assets/img/icons/breadcrumb-arrow-icon.svg);
}

/* Authors section */

.authors-section > * + * {
  margin-top: 2rem;
}

.authors-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  gap: 2rem;
}
.author {
  text-align: center;
}

/* Info section */

.info-section {
  padding-block: 3rem;
}

.info-section > * + * {
  margin-top: 3rem;
}

.info-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.info-header__title {
  text-transform: uppercase;
  font-size: var(--fs-700);
  font-weight: var(--fw-600);
}

.info-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.info-block > * + * {
  margin-top: 1rem;
}

.info-block p {
  color: var(--clr-accent-500);
}

.info-block h3 {
  font-size: var(--fs-600);
  font-weight: var(--fw-600);
}

/* Books section */

.genders {
  padding-left: 0;
  margin-block: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 1.25rem;
  padding-bottom: 1rem;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.genders > * {
  flex-shrink: 0;
}

.gender-section h1 {
  text-transform: uppercase;
}

.gender-section > * + * {
  margin-top: 1rem;
}

.gender-btn {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  border: none;
  border-radius: 20px;
  background-color: var(--clr-accent-100);
  transition: box-shadow 300ms ease;
  box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.gender-btn:hover {
  box-shadow: 1px 3px 25px rgba(0, 0, 0, 0.25);
}

.gender-title {
  font-size: var(--fs-500);
  font-weight: var(--fw-600);
}

.gender-info {
  text-align: left;
}

.gender-info > * + * {
  margin-top: 0.5rem;
}

.gender-book-count::after {
  content: "";
  display: inline-block;
  width: 11px;
  height: 13px;
  margin-left: 0.5rem;
  background-image: url(../assets/img/icons/book-count-icon.svg);
}

.section-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-500);
}

.section-information__header p {
  color: hsl(270, 1%, 71%);
}

.section-information__header h2 {
  text-transform: uppercase;
}

.section-information__more-link {
  text-decoration: none;
  font-weight: var(--fw-600);
  color: var(--clr-primary-400);
}

.section-information__more-link::after {
  content: "";
  margin-left: 0.75rem;
  display: inline-block;
  vertical-align: middle;
  background-image: url(../assets/img/icons/arrow-icon.svg);
  width: 12px;
  height: 19px;
}

.book {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.book-top {
  display: grid;
  gap: 0.5rem;
}

.book-top > img {
  width: 100%;
  aspect-ratio: 1.88 / 3;
}

.media-scroller {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 14%;
  gap: 1.25rem;
  padding-bottom: 1rem;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.book-list {
  padding-left: 0;
  margin-block: 0;
}
.books-section > * + * {
  margin-top: 1rem;
}

.book-rating {
  display: flex;
  gap: 0.375rem;
}

.book h3 {
  font-size: var(--fs-400);
}

.book p {
  font-weight: var(--fw-500);
  color: var(--clr-secondary-400);
}

/* Rating section */

.rating-section > * + * {
  margin-top: 1rem;
}

/* Page footer */

footer {
  margin-top: 2rem;
  padding-block: 2rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: var(--clr-accent-100);
}

footer .container {
  display: flex;
  justify-content: space-between;
}

.footer-link__title {
  margin-bottom: 1rem;
}

.footer-link__link-list {
  padding-left: 0px;
  margin-block: 0px;
}

.footer-link__link-list a,
.footer-link__contact-btn {
  text-decoration: none;
}

.footer-link__link-list a {
  color: var(--clr-accent-500);
  font-size: var(--fs-200);
  font-weight: var(--fw-400);
}

.footer-link__link-list--social-media {
  display: flex;
  gap: 0.75rem;
}

.footer-social-icon-wrapper {
  display: grid;
  place-items: center;
  width: 24px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 1px solid black;
}

/* Login & Register */

.registration form > * + * {
  margin-top: 1rem;
}

.registration {
  text-align: center;
  max-width: 26.25rem;
  padding: 2rem;
  margin-inline: auto;
  border-radius: 20px;
  color: var(--clr-accent-500);
  background-color: var(--clr-accent-100);
}

.registration::backdrop {
  transition: backdrop-filter 300ms ease-in;
  backdrop-filter: blur(0px);
}

.registration:hover::backdrop {
  backdrop-filter: blur(3px);
}

.registration__btn {
  margin-inline: auto;
}

.registration__close-btn {
  display: block;
  margin-left: auto;
  width: 30px;
  aspect-ratio: 1 / 1;
  font-weight: var(--fw-600);
  border: 2px solid var(--clr-accent-900);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.registration__cta-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  display: inline;
  font-size: var(--fs-200);
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}

.registration span,
.registration a,
.registrationpa {
  font-size: var(--fs-200);
}

.registration h3 {
  font-size: var(--fs-700);
  text-transform: uppercase;
  color: var(--clr-accent-900);
}

.registration label,
.registration input {
  display: block;
}

.registration label {
  text-align: left;
}

.registration input {
  width: 100%;
}

.registration .input-box {
  width: 67%;
  margin-inline: auto;
}

.registration input::placeholder {
  color: hsl(0, 0%, 73%);
}

.registration label,
.registration input {
  font-weight: var(--fw-500);
}

.registration input {
  border: 2px solid black;
}

/* Dashboard */

.dashboard-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-header {
  margin-top: -2rem; /* ew */
  margin-bottom: 2rem;
  padding-block: 1rem;
  font-size: var(--fs-500);
  background-color: var(--clr-accent-100);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.dashboard__links,
.dashboard-header__links {
  list-style-type: none;
  padding-left: 0;
  margin-block: 0;
  display: flex;
  gap: 21px;
}

.dashboard__link,
.dashboard-header__link {
  text-decoration: none;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile__img-container {
  width: 2.25rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 1px solid var(--clr-accent-900);
  background-color: hsl(0, 0%, 85%);
}

.profile__welcome {
  font-weight: var(--fw-600);
}

.dashboard__nav {
  padding: 1rem;
  font-size: var(--fs-500);
  background-color: var(--clr-accent-100);
  border-radius: 20px;
}

.dashboard-container > * + * {
  margin-top: 2rem;
}

.dashboard {
  columns: 3 350px;
  column-gap: 21px;
}

.dashboard__card {
  margin-bottom: 21px;
  padding: 1rem;
  background-color: var(--clr-accent-100);
  border-radius: 20px;
  break-inside: avoid;
}

.dashboard__card > * + * {
  margin-top: 1rem;
}

.form-modal {
  position: relative;
  width: 46.25rem;
  max-width: 80%;
  padding: 3rem;
  font-size: var(--fs-500);
  border-radius: 20px;
  overflow-x: hidden;
}

.form-modal--users-dialog:not([open]) {
  display: none;
}

.form-modal--users-dialog {
  display: grid;
  gap: 1em;
}

.form-modal__title {
  font-size: var(--fs-700);
}

.form-modal__close {
  position: absolute;
  bottom: calc(100% - 6rem);
  left: calc(100% - 6rem);
  width: 12rem;
  aspect-ratio: 1 / 1;
  font-weight: bold;
  border-radius: 50%;
  border: none;
  background-color: #ece4fc;
  cursor: pointer;
}

.form-modal__close::after {
  content: "X";
  width: 1rem;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 65%;
  right: 65%;
}

.dashboard-form__controls {
  display: grid;
  grid-template-columns: 288px 288px;
  justify-content: space-between;
  row-gap: 1rem;
}

.dashboard-form {
  display: grid;
  grid-template-columns: 288px 288px;
  justify-content: space-between;
  row-gap: 1rem;
  margin-block: 2rem;
}

.dashboard-form--one-field {
  display: block;
  margin-block: 2rem;
}

.dashboard-form--one-field > * + * {
  margin-top: 1rem;
}

.dashboard-form--one-field > .dashboard-form__field-group {
  gap: 0.5rem;
}

.dashboard-form__field-group {
  display: grid;
}

.dashboard-form__field-group--span-2 {
  grid-column: 1 / span 2;
}

.dashboard-form__label {
  font-size: var(--fs-400);
  font-weight: var(--fw-500);
}

textarea.dashboard-form__field {
  resize: none;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.dashboard-form__field {
  padding: 0.75em 0.625em;
  border-radius: 10px;
  border: 2px solid var(--clr-accent-900);
  background-color: var(--clr-accent-200);
}

.dashboard-form__field::placeholder {
  color: hsl(0, 0%, 73%);
  font: inherit;
}

.select-options__btn {
  text-decoration: underline;
  color: var(--clr-primary-500);
  cursor: pointer;
}

.user-table-wrapper {
  overflow-x: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* box-shadow: 0px 0px 9px hsl(257, 21%, 16%, 0.5); */
}

.user-table {
  border-collapse: collapse;
  font-size: var(--fs-100);
}

.user-table th {
  text-align: left;
}

.user-table th,
.user-table td {
  padding: 0.8em;
}

.user-table tr {
  border-bottom: 1px solid gray;
}

.user-table thead tr {
  background-color: #dbd2ec;
}

.user-table tbody tr {
  background-color: #eeebf4;
}

.role {
  border-radius: 999px;
  border-width: 1px;
  border-style: solid;
  padding: 0.25em 0.5em;
  font-size: 14px;
}

.role-user {
  color: rgb(24, 51, 71);
  border-color: rgb(24, 51, 71);
  background-color: rgb(211, 229, 239);
}

.role-admin {
  color: rgb(65, 36, 84);
  border-color: rgb(65, 36, 84);
  background-color: rgb(232, 222, 238);
}

.user-passwd-tooltip-wrapper {
  --vertical-gap: 0.55rem;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 21px;
  aspect-ratio: 1 / 1;
  background-image: url(/biblioweb/public/assets/img/icons/info-icon.svg);
  background-size: cover;
  cursor: pointer;
}

.user-passwd-tooltip-wrapper:hover::after,
.user-passwd-tooltip-wrapper:hover::before {
  background-color: var(--clr-accent-900);
}

.user-passwd-tooltip-wrapper:hover::after {
  content: "La contraseña será encriptada";
  position: absolute;
  transform: translateX(-45%);
  left: 50%;
  bottom: calc(100% + var(--vertical-gap));
  font-size: var(--fs-100);
  width: max-content;
  padding: 0.25em 0.5em;
  color: var(--clr-accent-100);
  border-radius: 5px;
}

.user-passwd-tooltip-wrapper:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(-1 * var(--vertical-gap) - 1px);
  width: 12px;
  aspect-ratio: 1 / 1;
  clip-path: polygon(50% 80%, 0 0, 100% 0);
}
