<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error 404</title>
    <link rel="stylesheet" href="/biblioweb/public/css/http-status-codes.css" />
  </head>
  <body class="e-404">
    <div class="container e-404">
      <h2>¡Vaya!</h2>
      <p class="txt-gray">Error 404 - Página no encontrada</p>
      <p class="txt-gray">
        Alguien de nuestro equipo de desarrollo debe ser castigado por este
        error
      </p>
      <div class="img-wrapper">
        <img
          src="/biblioweb/public/assets/img/404.png"
          alt="4 tipos random actuando como si los van a despedir por un error 404 cuando se sabe perfectamente que este error no tiene nada que ver con ellos, ¿o sí?"
        />
        <span class="employee-name dylan">Dylan</span>
        <span class="employee-name esteban">Esteban</span>
        <span class="employee-name jhovan">Jhovan</span>
        <span class="employee-name diego">Diego</span>
      </div>

      <p class="pardon">
        ¿Les quieres perdonar? Dejemos que conserven su trabajo
      </p>
      <p class="return-homepage">
        Regresar a la <a href="/biblioweb/">ventana principal</a>
      </p>
    </div>
  </body>
</html>
