<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biblioweb | Dashboard</title>
    <link rel="stylesheet" href="/biblioweb/public/css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <header class="dashboard-header">
      <div class="container">
        <a href="/biblioweb/">
          <img
            src="/biblioweb/public/assets/img/logo-desktop.png"
            alt="Logo de Biblioweb: Libro abierto por la mitad con partículas desvaneciéndose del lado derecho"
          />
        </a>
        <nav class="dashboard-header__nav">
          <ul class="dashboard-header__links" aria-label="main">
            <li>
              <a
                class="btn-dashboard btn-primary-dashboard dashboard-header__link"
                href="/biblioweb/libros/"
                >Libros</a
              >
            </li>
            <li>
              <a
                class="btn-dashboard btn-primary-dashboard dashboard-header__link"
                href="/biblioweb/autores/"
                >Autores</a
              >
            </li>
            <li>
              <a
                class="btn-dashboard btn-primary-dashboard dashboard-header__link"
                href="/biblioweb/rating/"
                >Rating</a
              >
            </li>
            <li>
              <a
                class="btn-dashboard btn-primary-dashboard dashboard-header__link active"
                href="/biblioweb/dashboard/"
                aria-current="location"
                >Dashboard</a
              >
            </li>
          </ul>
        </nav>
        <div class="profile">
          <p class="profile__welcome">Hola, ADMIN</p>
          <div class="profile__img-container">
            <img
              class="profile__img"
              src="https://api.dicebear.com/6.x/lorelei/svg?seed=Mittens"
              alt="Imagen de perfil del administrador"
            />
          </div>
        </div>
      </div>
    </header>
    <main class="dashboard-container container">
      <nav class="dashboard__nav" aria-label="dashboard">
        <ul class="dashboard__links">
          <li>
            <a
              role="tab"
              aria-selected="true"
              id="resume-btn"
              class="btn-dashboard btn-secondary-dashboard dashboard__link active"
              >Resumen</a
            >
          </li>
          <li>
            <a
              role="tab"
              aria-selected="false"
              id="bibliography-btn"
              class="btn-dashboard btn-secondary-dashboard dashboard__link"
              >Bibliografía</a
            >
          </li>
          <li>
            <a
              role="tab"
              aria-selected="false"
              id="users-btn"
              class="btn-dashboard btn-secondary-dashboard dashboard__link"
              >Usuarios</a
            >
          </li>
        </ul>
      </nav>
      <section class="dashboard">
        <article class="dashboard__card" data-user-info-card>
          <h2>Usuarios registrados</h2>
          <p>Total de usuarios registrados en Biblioweb.</p>
          <p id="user-count" class="big-text"></p>
        </article>
        <article class="dashboard__card" data-book-info-card>
          <h2>Relación de libros por género</h2>
          <p>Todos los libros de Biblioweb ordenados por género.</p>
          <canvas id="books-by-genre"></canvas>
        </article>
        <article class="dashboard__card" data-book-info-card>
          <h2>Relación de libros por rating</h2>
          <p>Todos los libros de Biblioweb ordenados por rating.</p>
          <canvas id="books-by-rating"></canvas>
        </article>
        <article class="dashboard__card" data-book-info-card>
          <h2>Libros</h2>
          <p>Todos los libros almacenados en Biblioweb.</p>
          <p id="book-count" class="big-text"></p>
        </article>
        <article class="dashboard__card" data-user-info-card>
          <h2>Relación de usuarios por rol</h2>
          <p>
            Los usuarios de Biblioweb solo pueden tener el rol de usuario o
            administrador.
          </p>
          <canvas id="users-by-role"></canvas>
        </article>
        <article class="dashboard__card" data-book-info-card>
          <h2>Gestionar libros</h2>
          <p>Gestione los libros de Biblioweb desde un solo lugar.</p>
          <button id="open-books-crud" class="btn btn-tertiary">
            Gestionar libros
          </button>
        </article>
        <article class="dashboard__card" data-user-info-card>
          <h2>Gestionar usuarios</h2>
          <p>Gestione los usuarios de Biblioweb desde un solo lugar.</p>
          <button id="open-users-crud" class="btn btn-tertiary">
            Gestionar usuarios
          </button>
        </article>
      </section>
    </main>
  </body>
  <script src="/biblioweb/public/js/dashboard-charts.js"></script>
  <script src="/biblioweb/public/js/dashboard-navigation.js"></script>
</html>
