<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biblioweb | Usuarios</title>
    <link rel="stylesheet" href="/biblioweb/public/css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <header class="dashboard-header">
      <div class="container">
        <a href="#">
          <img
            src="/biblioweb/public/assets/img/logo-desktop.png"
            alt="Logo de Biblioweb: Libro abierto por la mitad con partículas desvaneciéndose del lado derecho"
          />
        </a>
        <nav class="dashboard-header__nav">
          <ul class="dashboard-header__links" aria-label="main">
            <li>
              <a
                class="btn-dashboard btn-primary-dashboard dashboard-header__link"
                href="/biblioweb/libros/"
                >Libros</a
              >
            </li>
            <li>
              <a
                class="btn-dashboard btn-primary-dashboard dashboard-header__link"
                href="/biblioweb/autores/"
                >Autores</a
              >
            </li>
            <li>
              <a
                class="btn-dashboard btn-primary-dashboard dashboard-header__link"
                href="/biblioweb/rating/"
                >Rating</a
              >
            </li>
            <li>
              <a
                class="btn-dashboard btn-primary-dashboard dashboard-header__link active"
                href="/biblioweb/dashboard/"
                >Dashboard</a
              >
            </li>
          </ul>
        </nav>
        <div class="profile">
          <p class="profile__welcome">Hola, ADMIN</p>
          <div class="profile__img-container">
            <img
              class="profile__img"
              src="https://api.dicebear.com/6.x/lorelei/svg?seed=Mittens"
              alt="Imagen de perfil del administrador"
            />
          </div>
        </div>
      </div>
    </header>
    <main class="dashboard-container container">
      <nav class="dashboard__nav" aria-label="dashboard">
        <ul class="dashboard__links">
          <li>
            <a
              href="/biblioweb/dashboard/"
              class="btn-dashboard btn-secondary-dashboard dashboard__link"
              >Resumen</a
            >
          </li>
          <li>
            <a
              href="/biblioweb/dashboard/bibliografia/"
              class="btn-dashboard btn-secondary-dashboard dashboard__link"
              >Bibliografía</a
            >
          </li>
          <li>
            <a
              href="/biblioweb/dashboard/usuarios/"
              class="btn-dashboard btn-secondary-dashboard dashboard__link active"
              >Usuarios</a
            >
          </li>
        </ul>
      </nav>
      <section class="dashboard">
        <article class="dashboard__card">
          <div>
            <h2>Usuarios registrados</h2>
            <canvas class="chart"></canvas>
          </div>
        </article>
        <article class="dashboard__card">
          <h2>Total de libros</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore
            labore at voluptate voluptatibus veritatis. Illo quas consequatur
            reprehenderit vero tempora?
          </p>
        </article>
        <article class="dashboard__card">
          <div>
            <h2>Relación de libros por género</h2>
            <canvas class="chart"></canvas>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum
              placeat laborum labore esse! Eum itaque architecto sint libero
              numquam autem voluptates, nihil maiores sequi temporibus
              doloremque iure odio provident tenetur.
            </p>
          </div>
        </article>
        <article class="dashboard__card">
          <div>
            <h2>Relación de libros por año de publicación</h2>
            <canvas class="chart"></canvas>
          </div>
        </article>
        <article class="dashboard__card">
          <h2>Relación de usuarios por rol</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque
            optio ex molestiae, est quasi quaerat? Blanditiis, doloremque. Ut
            quam excepturi, impedit velit nisi minima saepe, suscipit sint iste
            maiores labore.
          </p>
        </article>
        <article class="dashboard__card">
          <h2>Gestionar libros</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid
            perferendis nostrum impedit, delectus animi ad optio tenetur at fuga
            consectetur dolores voluptas doloribus hic recusandae facere iusto
            dicta quasi ipsum a tempore. Pariatur maiores repudiandae
            reprehenderit cumque consequuntur modi dolor, eaque atque ipsum
            facere, ipsam, voluptas ratione natus iusto provident?
          </p>
        </article>
        <article class="dashboard__card">
          <div>
            <h2>Gestionar usuarios</h2>
            <canvas class="chart"></canvas>
          </div>
        </article>
      </section>
    </main>
  </body>
  <script src="/biblioweb/public/js/dashboard-charts.js"></script>
</html>
