<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Detalle Libro</title>

</head>
<body>
    <header>
        <div class="head">
            <div class="logo">
                <a href="#">Logo</a>
            </div>
            
            <nav class="navbar">
                <a href="#">LIBROS</a>
                <a href="#">AUTORES</a>
                <a href="#">RATING</a>
                <a href="#">EQUIPO</a>
            </nav>
        </div>

    </header>
    <section class="content header">
        <img class="Libro" src="Libro.jpg"></img>
        <article class="Nombre-libro">
            <h1>Don Quijote</h1>
            <hp class="nombre">Miguel de Cervantes</hp>
            <p>Miguel de cervantes: 2020</p>
            <p>Genero: Novela</p>
            <p>Numero de paginas: 1000</p>
            <p>Idioma: Espanol</p>
            <p>Idioma original: Espanol</p>
            <img src="LeerLibro.jpg"></img>
        </article>

        <h2 class="title">Descripcion</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Minima natus rem tempore sapiente iusto velit culpa necessitatibus o
             ptio eaque, vero animi nobis! Iste, totam hic adipisci 
             laboriosam voluptate provident saepe.
        </p>
        
        <h3 class="title">Descripcion2</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At perferendis possimus praesentium ut unde molestias, mollitia illum hic illo! Tempore, dolor modi illo necessitatibus voluptate sint minus repellendus reprehenderit magnam.</p>

    </section>

    <section class="content lib">
        <article class="title">
            <h1 class="title1">LEE COMODAMENTE DONDE QUIERAS</h1>
            <h3 class="title2">Novelas, clasico y best-sellers</h3>
            <p>Biblioweb es la mayor biblioteca de libros electronicos de Peru por suscripcion.Mas de 10000 obras en la web: novela policiaca, ciencia ficcion, fantasia, novela romantica, libros de psicologia empresarial, para ninos, literatura moderna y clasica.</p>
            <h3 class="title3">Recomendamos los mejores libros</h3>
            <p>Nuestra coleccion son una ayuda para elegir las obras adecuadas segun el estado de animo, el tema, la estacion del amo,la popularidad o el criterio de los expertos.
            Seleccionamos los mejores libros y audiolibros en nuestra biblioteca digital para que no tenga que perder el tiempo buscando. Tambien le informamos sobre los ganadores de premios y concursos de liros.
            </p>
            <h3 class="title4">Cualquier libro por una suscripcion</h3>
            <p>Todas las obras estan incluidas en las suscripciones: estandar o premium.Suscribase a la suscripcion Premium para tener acceso completo a la biblioteca en linea, o a la suscrpcion estandar para solo los best-sellers y los clasicos. Puede elegir el periodo de suscripcion que mas le convenga> un mes, tres meses o un ano.Si acabo de comprar de uno en uno. </p>
            <h3 class="title6">Estadisticas personales</h3>
            <p>Las estadisticas de lectura te motivan a leer mas a lo largo de la semana, el mes y el ano. Cada dia registramos el numero de paginnas leidas, dibujamos graficos en el perfil de la aplicacion y enviamos estadisticas mensuales a tu correo electronico.¿Hace tiempo que no retomas un libro?¡No es el momentos de ponerse al dia! </p>

        </article>

        
        
    </section>

<footer class="piedepagina">
    <div class="container">
        <div class="footer row">
            <div class="footer-links">
                <h4>Acerca de Biblioweb</h4>
                <ul>
                    <li><a href="#">Acerca del proyecto</a></li>
                    <li><a href="#">Informacion Legal</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Coopera con Biblioweb</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h4>Acerca del registro</h4>
                <ul>
                    <li><a href="#">Registrate</a></li>
                    <li><a href="#">Como registrarme</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <h4>Servicio al cliente</h4>
                <div class="numero-contacto">
                    <img src="Contacto.jpg" style="width: 200px"></img>
                </div>
                </ul>
            </div>
            <div class="footer-links">
                <h4>Siguenos</h4>
                <ul class="footer-link__link-list">
                  <li class="footer-social-icon-wrapper">
                    <a href="#">
                      <img
                        src="../assets/img/icons/instagram-icon.svg"
                        alt="Ícono de Instagram"
                      />
                    </a>
                  </li>
                  <li class="footer-social-icon-wrapper">
                    <a href="#">
                      <img
                        src="../assets/img/icons/facebook-icon.svg"
                        alt="Ícono de Facebook"
                      />
                    </a>
                  </li>
                  <li class="footer-social-icon-wrapper">
                    <a href="#">
                      <img
                        src="../assets/img/icons/youtube-icon.svg"
                        alt="Ícono de YouTube"
                      />
                    </a>
                  </li>
                  <li class="footer-social-icon-wrapper">
                    <a href="#">
                      <img
                        src="../assets/img/icons/twitter-icon.svg"
                        alt="Ícono de Twitter"
                      />
                    </a>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>