<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biblioweb: Página de libros</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header class="container">
      <div class="header-top">
        <img
          src="../assets/img/logo-desktop.png"
          alt="Logo de Biblioweb: Libro abierto por la mitad con partículas desvaneciéndose del lado derecho"
        />
        <div class="header-searchbar-wrapper">
          <input
            class="header-searchbar"
            type="search"
            placeholder="Libro o autor"
            aria-placeholder="Buscar por libro o autor"
          />
        </div>
        <a class="header-session-link" href="login.html">Log in</a
        ><span class="header-session-link--deco"> // </span
        ><a class="header-session-link" href="register.html">Sign up</a>
      </div>
      <nav class="page-nav">
        <ul class="page-nav-links" role="list">
          <li class="page-nav-item">
            <a class="page-nav-link active" href="libros.html">Libros</a>
          </li>
          <li class="page-nav-item">
            <a class="page-nav-link" href="autores.html">Autores</a>
          </li>
          <li class="page-nav-item">
            <a class="page-nav-link" href="rating.html">Rating</a>
          </li>
          <li class="page-nav-item">
            <a class="page-nav-link" href="#">Equipo</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <nav aria-label="breadcrumbs" class="container section breadcrumbs">
        <ol class="breadcrumb-list" role="list">
          <li class="breadcrumb-item">
            <a class="breadcrumb-link" href="#" aria-current="location"
              >Libros</a
            >
          </li>
        </ol>
      </nav>
      <section class="container section gender-section">
        <h1>Géneros</h1>
        <ul role="list" class="genders">
          <li class="gender-item">
            <button class="gender-btn">
              <div class="gender-info">
                <h3 class="gender-title">Fantasía</h3>
                <p class="gender-book-count">55</p>
              </div>
              <img
                src="../assets/img/icons/wizard-hat-icon.svg"
                alt="Gorro de mágico estampado con una luna y dos estrellas con estrellas voladoras alrededor de él."
              />
            </button>
          </li>
          <li class="gender-item">
            <button class="gender-btn">
              <div class="gender-info">
                <h3 class="gender-title">Poesía</h3>
                <p class="gender-book-count">12</p>
              </div>
              <img
                src="../assets/img/icons/wizard-hat-icon.svg"
                alt="Gorro de mágico estampado con una luna y dos estrellas con estrellas voladoras alrededor de él."
              />
            </button>
          </li>
          <li class="gender-item">
            <button class="gender-btn">
              <div class="gender-info">
                <h3 class="gender-title">Cuento</h3>
                <p class="gender-book-count">79</p>
              </div>
              <img
                src="../assets/img/icons/wizard-hat-icon.svg"
                alt="Gorro de mágico estampado con una luna y dos estrellas con estrellas voladoras alrededor de él."
              />
            </button>
          </li>
          <li class="gender-item">
            <button class="gender-btn">
              <div class="gender-info">
                <h3 class="gender-title">Infantiles</h3>
                <p class="gender-book-count">66</p>
              </div>
              <img
                src="../assets/img/icons/wizard-hat-icon.svg"
                alt="Gorro de mágico estampado con una luna y dos estrellas con estrellas voladoras alrededor de él."
              />
            </button>
          </li>
          <li class="gender-item">
            <button class="gender-btn">
              <div class="gender-info">
                <h3 class="gender-title">Novela romántica</h3>
                <p class="gender-book-count">31</p>
              </div>
              <img
                src="../assets/img/icons/wizard-hat-icon.svg"
                alt="Gorro de mágico estampado con una luna y dos estrellas con estrellas voladoras alrededor de él."
              />
            </button>
          </li>
        </ul>
      </section>
      <!-- For demo only -->
      <section class="container section books-section">
        <div class="section-information">
          <div class="section-information__header">
            <h2>Fantasía</h2>
            <p>Los mejores libros de fantasía que puedes encontrar.</p>
          </div>
          <a class="section-information__more-link" href="#">Más</a>
        </div>

        <!-- This will be initially empty. User must select a cataegory from above to render books -->
        <ul class="book-list media-scroller" role="list">
          <li class="book">
            <div class="book-top">
              <img
                src="../assets/img/portada-book.jpg"
                alt="Portada del libro."
              />
              <div class="book-rating">
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
              </div>
              <h3>Don Quijote</h3>
            </div>
            <p>Miguel de Cervantes</p>
          </li>
          <li class="book">
            <div class="book-top">
              <img
                src="../assets/img/portada-book.jpg"
                alt="Portada del libro."
              />
              <div class="book-rating">
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
              </div>
              <h3>Don Quijote</h3>
            </div>
            <p>Miguel de Cervantes</p>
          </li>
          <li class="book">
            <img
              src="../assets/img/portada-book.jpg"
              alt="Portada del libro."
            />
            <div class="book-rating">
              <img
                src="../assets/img/icons/rating-star.svg"
                alt="Estrella de rating"
              />
              <img
                src="../assets/img/icons/rating-star.svg"
                alt="Estrella de rating"
              />
              <img
                src="../assets/img/icons/rating-star.svg"
                alt="Estrella de rating"
              />
              <img
                src="../assets/img/icons/rating-star.svg"
                alt="Estrella de rating"
              />
              <img
                src="../assets/img/icons/rating-star.svg"
                alt="Estrella de rating"
              />
            </div>
            <h3>Don Quijote</h3>
            <p>Miguel de Cervantes Saavedrea</p>
          </li>
          <li class="book">
            <div class="book-top">
              <img
                src="../assets/img/portada-book.jpg"
                alt="Portada del libro."
              />
              <div class="book-rating">
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
              </div>
              <h3>Don Quijote</h3>
            </div>
            <p>Miguel de Cervantes</p>
          </li>
          <li class="book">
            <div class="book-top">
              <img
                src="../assets/img/portada-book.jpg"
                alt="Portada del libro."
              />
              <div class="book-rating">
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
              </div>
              <h3>Don Quijote</h3>
            </div>
            <p>Miguel de Cervantes</p>
          </li>
          <li class="book">
            <div class="book-top">
              <img
                src="../assets/img/portada-book.jpg"
                alt="Portada del libro."
              />
              <div class="book-rating">
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
              </div>
              <h3>Don Quijote</h3>
            </div>
            <p>Miguel de Cervantes</p>
          </li>
          <li class="book">
            <div class="book-top">
              <img
                src="../assets/img/portada-book.jpg"
                alt="Portada del libro."
              />
              <div class="book-rating">
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
              </div>
              <h3>Don Quijote</h3>
            </div>
            <p>Miguel de Cervantes</p>
          </li>
          <li class="book">
            <div class="book-top">
              <img
                src="../assets/img/portada-book.jpg"
                alt="Portada del libro."
              />
              <div class="book-rating">
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
              </div>
              <h3>Don Quijote</h3>
            </div>
            <p>Miguel de Cervantes</p>
          </li>
          <li class="book">
            <div class="book-top">
              <img
                src="../assets/img/portada-book.jpg"
                alt="Portada del libro."
              />
              <div class="book-rating">
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
              </div>
              <h3>Don Quijote</h3>
            </div>
            <p>Miguel de Cervantes</p>
          </li>
          <li class="book">
            <div class="book-top">
              <img
                src="../assets/img/portada-book.jpg"
                alt="Portada del libro."
              />
              <div class="book-rating">
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
              </div>
              <h3>Don Quijote</h3>
            </div>
            <p>Miguel de Cervantes</p>
          </li>
          <li class="book">
            <div class="book-top">
              <img
                src="../assets/img/portada-book.jpg"
                alt="Portada del libro."
              />
              <div class="book-rating">
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
                <img
                  src="../assets/img/icons/rating-star.svg"
                  alt="Estrella de rating"
                />
              </div>
              <h3>Don Quijote</h3>
            </div>
            <p>Miguel de Cervantes</p>
          </li>
        </ul>
      </section>
      <section class="container section info-section">
        <div class="info-header">
          <h2 class="info-header__title">Lee cómodamente donde quieras</h2>
          <img
            src="../assets/img/logo-info-section.jpg"
            alt="Logo de Biblioweb: Libro abierto por la mitad con partículas desvaneciéndose del lado derecho"
          />
        </div>
        <div class="info-blocks">
          <div class="info-block">
            <h3>Novelas, clásicos y best-sellers</h3>
            <p>
              Biblioweb es la mayor biblioteca de libros electrónicos de Perú
              por suscripción. Más de 10000 obras en la web: novela policíaca,
              ciencia ficción, fantasía, novela romántica, libros de psicología
              empresarial, para niños, literatura moderna y clásica.
            </p>
          </div>
          <div class="info-block">
            <h3>Cualquier libro por una suscripción</h3>
            <p>
              Todas las obras están incluidas en las suscripciones: estándar o
              premium. Suscríbase a la suscripción Premium para tener acceso
              completo a la biblioteca en línea, o a la suscripción Estándar
              para leer sólo los best-sellers y los clásicos. Puede elegir el
              periodo de suscripción que más le convenga: un mes, tres meses o
              un año. Se acabó comprar de uno en uno.
            </p>
          </div>
          <div class="info-block">
            <h3>Recomendamos los mejores libros</h3>
            <p>
              Nuestras colecciones son una ayuda para elegir las obras adecuadas
              según el estado de ánimo, el tema, la estación del año, la
              popularidad o el criterio de los expertos. Seleccionamos los
              mejores libros y audiolibros en nuestra biblioteca digital para
              que no tenga que perder tiempo buscando. También le informamos
              sobre los ganadores de premios y concursos de libros.
            </p>
          </div>
          <div class="info-block">
            <h3>Estadísticas personales</h3>
            <p>
              Las estadísticas de lectura te motivan a leer más a lo largo de la
              semana, el mes y el año. Cada día registramos el número de páginas
              leídas, dibujamos gráficos en el perfil de la aplicación y
              enviamos estadísticas mensuales a tu correo electrónico. ¿Hace
              tiempo que no retomas el libro? ¡No es el momento de ponerse al
              día!
            </p>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="container">
        <div class="footer-link">
          <h4 class="footer-link__title">Acerca de Biblioweb</h4>
          <ul class="footer-link__link-list" role="list">
            <li>
              <a href="#">Acerca del proyecto</a>
            </li>
            <li>
              <a href="#">Información legal</a>
            </li>
            <li>
              <a href="#">Nosotros</a>
            </li>
            <li>
              <a href="#">Coopera con Biblioweb</a>
            </li>
          </ul>
        </div>
        <div class="footer-link">
          <h4 class="footer-link__title">Acerca del registro</h4>
          <ul class="footer-link__link-list" role="list">
            <li>
              <a href="register.html">Regístrate</a>
            </li>
            <li>
              <a href="#">Cómo registrarse</a>
            </li>
            <li>
              <a href="#">Ayuda</a>
            </li>
          </ul>
        </div>
        <div class="footer-link">
          <h4 class="footer-link__title">Acerca del registro</h4>
          <a class="btn btn-primary footer-link__contact-btn" href="#"
            >8 (025) 752-33-03</a
          >
        </div>
        <div class="footer-link">
          <h4 class="footer-link__title">Síguenos</h4>
          <ul
            class="footer-link__link-list footer-link__link-list--social-media"
            role="list"
          >
            <li class="footer-social-icon-wrapper">
              <a href="#">
                <img
                  src="../assets/img/icons/instagram-icon.svg"
                  alt="Ícono de Instagram"
                />
              </a>
            </li>
            <li class="footer-social-icon-wrapper">
              <a href="#">
                <img
                  src="../assets/img/icons/facebook-icon.svg"
                  alt="Ícono de Facebook"
                />
              </a>
            </li>
            <li class="footer-social-icon-wrapper">
              <a href="#">
                <img
                  src="../assets/img/icons/youtube-icon.svg"
                  alt="Ícono de YouTube"
                />
              </a>
            </li>
            <li class="footer-social-icon-wrapper">
              <a href="#">
                <img
                  src="../assets/img/icons/twitter-icon.svg"
                  alt="Ícono de Twitter"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
