<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biblioweb: Inicia sesión</title>
  </head>
  <body>
    <header class="container">
      <div class="header-top">
        <img
          src="../assets/img/logo-desktop.png"
          alt="Logo de Biblioweb: Libro abierto por la mitad con partículas desvaneciéndose del lado derecho"
        />
        <input
          type="search"
          placeholder="Libro o autor"
          aria-placeholder="Buscar por libro o autor"
        />
        <a href="#">Log in</a><span> // </span><a href="#">Sign up</a>
      </div>
      <nav class="page-nav">
        <ul class="page-nav-links">
          <li class="page-nav-item">
            <a class="page-nav-link" href="#">Libros</a>
          </li>
          <li class="page-nav-item">
            <a class="page-nav-link" href="#">Autores</a>
          </li>
          <li class="page-nav-item">
            <a class="page-nav-link" href="#">Rating</a>
          </li>
          <li class="page-nav-item">
            <a class="page-nav-link" href="#">Equipo</a>
          </li>
        </ul>
      </nav>
    </header>

    <article class="registration">
      <h1>Regístrate</h1>
      <p>
        Llena tus credenciales y adéntrate al maravilloso mundo de la lectura
      </p>
      <label for="username">Usuario</label>
      <input type="text" id="username" placeholder="Ej. robcmartin" />
      <label for="pass">Usuario</label>
      <input type="text" id="pass" placeholder="*************" />
      <button>Regístrate</button>
      <span>¿Ya tienes una cuenta?</span><a href="login.html">Inicia sesión</a>
    </article>

    <footer>
      <div class="container">
        <div class="footer-link">
          <h4 class="footer-link__title">Acerca de Biblioweb</h4>
          <ul class="footer-link__link-list">
            <li>
              <a href="#">Acerca del proyecto</a>
            </li>
            <li>
              <a href="#">Información legal</a>
            </li>
            <li>
              <a href="#">Nosotros</a>
            </li>
            <li>
              <a href="#">Coopera con Biblioweb</a>
            </li>
          </ul>
        </div>
        <div class="footer-link">
          <h4 class="footer-link__title">Acerca del registro</h4>
          <ul class="footer-link__link-list">
            <li>
              <a href="#">Regístrate</a>
            </li>
            <li>
              <a href="#">Cómo registrarse</a>
            </li>
            <li>
              <a href="#">Ayuda</a>
            </li>
          </ul>
        </div>
        <div class="footer-link">
          <h4 class="footer-link__title">Acerca del registro</h4>
          <a class="footer-link__contact-btn" href="#">8 (025) 752-33-03</a>
        </div>
        <div class="footer-link">
          <h4 class="footer-link__title">Síguenos</h4>
          <ul class="footer-link__link-list">
            <li class="footer-social-icon-wrapper">
              <a href="#">
                <img
                  src="../assets/img/icons/instagram-icon.svg"
                  alt="Ícono de Instagram"
                />
              </a>
            </li>
            <li class="footer-social-icon-wrapper">
              <a href="#">
                <img
                  src="../assets/img/icons/facebook-icon.svg"
                  alt="Ícono de Facebook"
                />
              </a>
            </li>
            <li class="footer-social-icon-wrapper">
              <a href="#">
                <img
                  src="../assets/img/icons/youtube-icon.svg"
                  alt="Ícono de YouTube"
                />
              </a>
            </li>
            <li class="footer-social-icon-wrapper">
              <a href="#">
                <img
                  src="../assets/img/icons/twitter-icon.svg"
                  alt="Ícono de Twitter"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
